div{
    margin: 0;
    padding: 0;
  }
  
  body{
    margin: 0;
    padding: 0;
 
  }
  
  
  .navbar{
   display: grid;
   grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px  rgb(153, 153, 153);
    padding: 0;
    margin: 0;
    /* column-gap: 20px; */
   
  }
  
  .navlinks{
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 10px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;
  }
  
  .logo{
    width:50px;
    padding: 10px;
  margin: 0;
  }
  
  .links{
    text-decoration: none;
  color: rgb(121, 118, 118);
  transition: color 0.50s;
  font-size: 20px;
  font-weight: 500;
  font-family:'Times New Roman';
  
  }
  
  .links:hover{
    color: rgb(253, 253, 253);
    cursor: pointer;
   
  }

  .logoimage   {
    margin: 0;
    padding: 0; 
    font-size: 20px;
    justify-content: center;
  }


.hambergermenu{
    color: rgb(250, 250, 250);
    align-items: center;
    justify-content: center;
    display: none;  
    padding: 0;
    margin: 0;
    position:fixed;
  
}





@media (max-width:810px) {
  .navbar {
  display: block;
  padding: 0;
  margin: 0;

  }
  .navlinks{
      margin: 0;
      padding: 10px;
      text-align: center;    
      transition: background-color 1s , color 1s;
      font-size: 20px;
      border-radius: 5px;
      
  }


  .navlinks:hover{
      color: rgb(255, 252, 252);
  
  }

  .logo{
      margin: 0;
      display:inline-block;
      padding:10px;
  }
  .links{
      margin: 0;
      padding: 0;
      display: block;
  }
 
  .hambergermenu{
    margin: 0;
    padding: 0;
    display: block;
    padding-left: 30px;
    cursor: pointer;
  }
  .logoimage   {
    margin: 0;
    padding: 0; 
    font-size: 20px;
    align-items: center;
    justify-content: center;
  text-align: center;
  }

  
}